@page
@using Web_253505_Tarhonski.Areas.Admin.Pages
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airsoft</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.MimeType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.MimeType)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Airsoft.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
