@page
@using Web_253505_Tarhonski.Areas.Admin.Pages
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Airsoft</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Name)
        </dd>
        <dt class="col-sm-2">
            Описание товара
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Description)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Airsoft.Price)
        </dd>
        <dt class="col-sm-2">
            Категория
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayNameFor(model => model.Airsoft.ImagePath)
        </dd>
        <dt class="col-sm-10">
            <img src="@Model.Airsoft.ImagePath" class="img-thumbnail" style="max-width: 100px;" />

        </dt>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Airsoft.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
