@page
@model Web_253505_Tarhonski.Areas.Admin.Pages.IndexModel


<h1>Администрирование</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Create New
    </a>
</p>

@if (Model.Airsoft != null && Model.Airsoft.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Airsoft[0].Name)</th>
                <th>@Html.DisplayNameFor(model => model.Airsoft[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.Airsoft[0].Price)</th>
                <th>@Html.DisplayNameFor(model => model.Airsoft[0].ImagePath)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Airsoft)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Price) $</td>
                    <td><img src="@Url.Content(item.ImagePath)" alt="@item.Name" class="img-thumbnail" style="max-width: 100px;" /></td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary">
                            <i class="fas fa-edit"></i> Edit
                        </a> |
                        <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-info">
                            <i class="fa-solid fa-info"></i> Details
                        </a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-sm btn-outline-danger">
                            <i class="fa-regular fa-trash-can"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Пагинация -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- Кнопка для предыдущей страницы -->
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-page="Index" asp-route-pageNo="@(Model.CurrentPage - 1)">Предыдущая</a>
            </li>

            <!-- Номера страниц -->
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="Index" asp-route-pageNo="@i">@i</a>
                </li>
            }

            <!-- Кнопка для следующей страницы -->
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-page="Index" asp-route-pageNo="@(Model.CurrentPage + 1)">Следующая</a>
            </li>
        </ul>
    </nav>
}
else
{
    <p>No records found.</p>
}
